- var logoutbtnable = loglog
include header

style.
  .ctc {
    margin-top:200px;
    text-align:center;
  }

div.ctc
  h1="You have successfully registered"
  a(href="/clicktocontinue")
    button(type="button" id="clicktocontinue" style="background-color:#98e698; width:80%;font-size:17px; border-radius:10px; border:none; cursor:pointer;padding:10px 5px;" onmouseover="this.style.backgroundColor='#28a428'" onmouseout="this.style.backgroundColor='#98e698';") Click to Continue