style.
  .buttons {
    background-color: #555;
    color: white;
    font-size: 17px;
    border-radius:2px;
    border:none;
  }


  .heading {
    color: black;
    font-family:arial;
    text-align: center;
    background-color:#8080ff;
    top:0px;
    width:100%;
    cursor:context-menu;
    border-radius:5px;
    border:none;
    position:fixed;
    z-index:9;
  }

  .padd{
  padding: 55px 0px;
  }
  



div.heading
  h1 COMPUTER SCIENCE AND ENGINEERING QUESTION FORUM
    sub(style="font-family:none; font-style:italic; font-size:20px; color:green;") here ideas are shared...
  
  div.buttons
    a(href="/questionforum")
      button(type="button" id="questionforumid" style="padding: 10px 5px;cursor:pointer;border-radius:10px;border:none; background-color:#c3c388;" onmouseover="this.style.backgroundColor='#aaaa55'" onmouseout="this.style.backgroundColor='#c3c388';") CSE Question Forum
  
    a(href="/ask")
      button(type="button" id="askquestionid" style="padding: 10px 5px;cursor:pointer;border-radius:10px;border:none; background-color:#c3c388;" onmouseover="this.style.backgroundColor='#aaaa55'" onmouseout="this.style.backgroundColor='#c3c388';") Ask a question
div.padd