style.
  .buttons {
    background-color: #555;
    color: white;
    font-size: 17px;
    border-radius:2px;
    border:none;
  }


  .heading {
    font-style: oblique;
    color: black;
    font-family:arial;
    text-align: center;
    background-color:#8080ff;
    top:0px;
    width:100%;
    cursor:context-menu;
    border-radius:5px;
    border:none;
    position:fixed;
    z-index:9;
    margin-bottom:200px;
    background: url('./images/constellation.jpg');
  }



div.heading
  div.iiitdmk_logo
    img(src='./images/iiitdmk_logo.png' alt='IIITDMK logo' style="width:142.8px;height:142.8px;position: absolute; top: 0; left: 0;")
  h1(style="color:#faebefff;text-indent:130px;") Indian Institute of Information Technology, Design and Manufacturing, Kurnool
  h1(style="color:#faebefff;text-indent:130px; ") Question Forum
    sub(style="font-family:none; font-style:italic; font-size:20px; color:#a2a2a1ff;") share ideas...
  
  div.buttons
    a(href="/questionforum")
      button(type="button" id="questionforumid" style="padding: 10px 5px;cursor:pointer;border-radius:10px;border:none; background-color:#c3c388;" onmouseover="this.style.backgroundColor='#aaaa55'" onmouseout="this.style.backgroundColor='#c3c388';") Question Forum
  
    a(href="/ask")
      button(type="button" id="askquestionid" style="padding: 10px 5px;cursor:pointer;border-radius:10px;border:none; background-color:#c3c388;" onmouseover="this.style.backgroundColor='#aaaa55'" onmouseout="this.style.backgroundColor='#c3c388';") Ask a question

    -if(logoutbtnable !== undefined)
      a(href="/logout")
        button(type="button" id="logoutbtnid" style="padding: 10px 10px;float:right;cursor:pointer;border-radius:10px;border:none; background-color:red;" onmouseover="this.style.backgroundColor='#e60000'" onmouseout="this.style.backgroundColor='red';") logout (#{logoutbtnable}) 
    -else
      a(href="/login")
        button(type="button" id="loginbtnid" style="padding: 10px 10px;float:right;cursor:pointer;border-radius:10px;border:none; background-color:green;" onmouseover="this.style.backgroundColor='#00cc00'" onmouseout="this.style.backgroundColor='green';") Login/Sign Up